<div id="welcome">
  <div class="container">
    <h1>Buffer Reservation</h1>
    <hr/>
    <!-- <div class="text-center">
      <input type="file" id="file"/>
      <button class="btn btn-primary" @click="uploadFile()">Upload</button>
    </div>
    <hr/> -->
    <br><br>
    <div class="container clearfix text-center">
      <div class="col-3 float-left">
        <h3>Sender</h3>
        <div class="p-2">
          <input type="text" v-model="inputBytes" />
          <br><br>
          <button class="btn btn-primary" @click="send()">Send</button>
        </div>
      </div>
      <div class="col-6 float-left">
        <h3>Buffer Level</h3>
        <br><br>
        <div class="progress">
          <div class="progress-bar" :style="{ width: ((bufferCurrentValue/bufferSize)*100) + '%' }">{{((bufferCurrentValue/bufferSize)*100)}}%</div>
        </div>
      </div>
      <div class="col-3 float-left">
        <h3>Receiver</h3>
        Receiving <input style="width:50px" type="text" v-model="receivingBytes" /> bytes per second.
        <hr>
        Received so far: {{receivedSoFar}} bytes
      </div>
    </div>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
